<ul class="breadcrumb">
  <li><a href="#fakelink">На главную</a></li>
  <li class="active"><a href="#fakelink">Типы статей</a></li>
  <li class="pull-right"><%= link_to 'New Articletype', new_articletype_path %></li>
</ul>

<h4 class="page-title">Типы статей</h4>

<table  class="table table-striped">
  <!--<thead>-->
    <!--<tr>-->
      <!--<th width=auto>Тип статьи</th>-->
      <!--<th width="30px"></th>-->
      <!--<th width="30px"></th>-->
      <!--<th width="30px"></th>-->
    <!--</tr>-->
  <!--</thead>-->

  <tbody>
    <% @articletypes.each do |articletype| %>
      <tr>
        <td><%= articletype.name %></td>
        <td width="24px">
          <%= link_to articletype do %>
              <%= image_tag("PNG/search.png", :size => "24x24") %>
          <% end %>
        </td>
        <td width="24px">
          <%= link_to edit_articletype_path(articletype) do %>
              <%= image_tag("PNG/pencil2.png", :size => "24x24") %>
          <% end %>
        </td>
        <td width="24px">
          <%= link_to articletype, :method => :delete, :data => { :confirm => 'Are you sure?' } do %>
              <%= image_tag("PNG/remove.png", :size => "24x24") %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
