<ul class="breadcrumb">
  <li><a href="#fakelink">Home</a></li>
  <li class="active"><a href="#fakelink">Albums</a></li>
  <li class="pull-right"><%= link_to 'New Articletype', new_articletype_path %></li>
</ul>

<h1>Listing articletypes</h1>

<table  class="table table-striped">
  <thead>
    <tr>
      <th>Name</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @articletypes.each do |articletype| %>
      <tr>
        <td><%= articletype.name %></td>
        <td><%= link_to 'Show', articletype %></td>
        <td><%= link_to 'Edit', edit_articletype_path(articletype) %></td>
        <td><%= link_to 'Destroy', articletype, :method => :delete, :data => { :confirm => 'Are you sure?' } %></td>
        <td><i class="fui-check-inverted text-primary"></i></td>
      </tr>
    <% end %>
  </tbody>
</table>


<%= link_to 'New Articletype', new_articletype_path %>
