<h1>Listing varieties</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Bush info</th>
      <th>Bush height</th>
      <th>Crown shape</th>
      <th>Growth rate</th>
      <th>Shoots</th>
      <th>Hazelnut info</th>
      <th>Haze</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @varieties.each do |variety| %>
      <tr>
        <td><%= variety.name %></td>
        <td><%= variety.bush_info %></td>
        <td><%= variety.bush_height %></td>
        <td><%= variety.crown_shape %></td>
        <td><%= variety.growth_rate %></td>
        <td><%= variety.shoots %></td>
        <td><%= variety.hazelnut_info %></td>
        <td><%= variety.haze %></td>
        <td><%= link_to 'Show', variety %></td>
        <td><%= link_to 'Edit', edit_variety_path(variety) %></td>
        <td><%= link_to 'Destroy', variety, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Variety', new_variety_path %>
