<!DOCTYPE html>
<html>
<head>
  <title>Hazelnuts</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class='container'>

  <div class="navbar">
    <div class="navbar-inner">
      <%= link_to "Main page", root_path, class: 'brand' %>
      <ul class="nav">
        <li><%= link_to "Varieties", varieties_path %></li>
        <li><%= link_to "Articletypes", articletypes_path %></li>
        <li><%= link_to "Articles", articles_path %></li>
        <li><%= link_to "Albums", albums_path %></li>
        <li><%= link_to "Photo", photos_path %></li>
      </ul>
    </div>
  </div>

  <div  class='row'>
    <div class='span8'>
      <% if notice %>
          <p class="notice"><%= notice %></p>
      <% end %>
      <% if alert %>
          <p class="alert"><%= alert %></p>
      <% end %>
      <%= yield %>
    </div>
    <div class='span4' id='rightcolumn'>
      <% if signed_in? %>
          We remember you!   <br/>
          <%= current_user.email %>
          <%= link_to 'Exit', destroy_user_session_path, method: :delete, class: 'btn' %>
      <% else %>
          <%= link_to 'Enter', new_user_session_path, class: 'btn' %>
      <% end %>
    </div>
  </div>
  <br>
  <br>
  <footer>
    <div class="navbar">
      <div class="navbar-inner">
        <%= link_to "Main page", root_path, class: 'brand' %>
        <ul class="nav">
          <li><%= link_to "User", root_path %></li>
          <li><%= link_to "User", root_path %></li>
          <li><%= link_to "User", root_path %></li>
        </ul>
      </div>
    </div>

  </footer>
</div>
</div>
</body>
</html>
